@keyframes fadeInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.note {
  animation: fadeInFromTop 0.4s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-light);
}

.note-title {
  margin-block: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note-content {
  line-height: 1.1rem;
  height: 5.5rem;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-date-section {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 13px;
  font-weight: 600;
}

.note-overdue {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  background-color: var(--color-purple);
  padding: 0.5rem;
  border-radius: 4px;
  gap: 0.25rem;
}

.note-actions {
  display: flex;
}
