.search-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--color-accent);
  border-radius: 4px;
  min-width: 400px;
  padding: 0.25rem 0.5rem;
  cursor: text;
}

@media (max-width: 480px) {
  .search-container {
    min-width: 200px;
  }
}

.search-container:focus-within {
  outline: 1px solid var(--color-secondary);
  border: 1px solid var(--color-secondary);
}

.search-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--color-secondary);
  user-select: none;
  margin: 0.25rem;
  flex-shrink: 0;
}

.search-input {
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 20px;
  background-color: transparent;
  color: var(--color-text);
}
