:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-purple: #8a82d8;
  --color-light-purple: #b8b1f6;
  --color-light-grey: #f5f5f5;
  --color-white: #ffffff;
  --color-black: #03120e;
  --box-shadow-light: 5px 5px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

textarea {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
input {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}
