:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #ffffff;
  --color-secondary: #8a82d8;
  --color-accent: #b8b1f6;
  --color-text: #03120e;
  --box-shadow-light: 5px 5px 10px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 5px 5px 10px rgba(0, 0, 0, 0.3);
  --box-shadow-bottom: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --color-primary: #03120e;
  --color-secondary: #b8b1f6;
  --color-accent: #8a82d8;
  --color-text: #f7f7f7;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-text);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

textarea {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

input {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

::view-transition-group(root) {
  animation-duration: 0.4s;
}
